//main colors
$navy: hsl(233, 47%, 7%); //main bg
$blue: hsl(244, 37%, 16%); //card bg
$purple: hsl(277, 64%, 61%); //accent
// $purple-a: hsla(277, 76%, 31%, 0.6);

//neutral colors
$white: hsl(0, 0%, 100%); // main heading & stats
$white-75: hsla(0, 0%, 100%, 0.75); //main paragraph
$white-60: hsla(0, 0%, 100%, 0.6); // stat subtitles

//fonts
$main: "Inter", sans-serif;
$alt: "Lexend Deca", sans-serif;

//font weights
$regular: 400;
$bold: 700;